<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main content">
              {{>header}}
              <p>This site was created by Ankit. It Fetch Data from 2 different API</p>
        <img class="portrait" src="/img/91b+kwU0XuL._SY450_.jpg">
        </div>
      
    </body>
    
        {{>footer}}
    
</html>